.progressSection:not(:first-of-type) {
  border-left: rem(3px) solid light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.flexRootExpens {
  width: auto;
  border: grey 1px solid;
  margin-left: 10px;
}
.flexRootIncom {
  width: auto;
  border: grey 1px solid;
}

.buttonFlexRoot{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
