.cardWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28.125rem;
  height: auto;
  padding: 10px;
  background-color: #f4d5d5;
  z-index: 10;
}
